<%- include('../partials/headhtml', {pagecss: "productDetail"}) %>

<body style="background-color: #EBEBEB;">
    
    <%- include('../partials/header-client') %>

<!-- ***********  body  ************   -->
<div class="container">
    <% if(typeof fail == "undefined"){ %>
<div class="row main-content">
    

    
    <div class="col-sm-11 route ">
        <span>Indumentaria > </span>
        <span>Hombre > </span>
        <span>Camperas > </span>
        <span>Campera deportiva Puma</span>
    </div>
    <div class="col-sm-12 productdetail">
        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-2 miniatura">
                <% if(product.imagenes[3]!= undefined){ %>
                    <img src="/images/products/<%= typeof product.imagenes[3] %>" alt="">
                <%}%>
                <% if(product.imagenes[2]!=undefined){ %>
                    <img src="/images/products/<%= product.imagenes[2] %>" alt="">
                <%}%>
                <% if(product.imagenes[1]!=undefined){ %>
                    <img src="/images/products/<%= product.imagenes[1] %>" alt="">
                <%}%>
                
                <img src="/images/products/<%= product.imagenes[0] %>" alt="">
            </div>
            <div class="col-sm-9 col-md-5 col-lg-4 main-image">
                <img src="/images/products/<%= product.imagenes[0] %>" alt="">
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 buyitem">
                <h3><%=product.title %></h3>
                <p>Tipo de entrega: <%= product.formaEntrega %></p>
                <h3 class="precio">$<%=product.price %></h3>
                <div class="form-row flex-nowrap  talle">
                    <div class="col-sm-4">
                        <label for="talle"><small>Talle</small></label>
                        <select name="talle" id="talle" class="form-control">
                            <% if(product.cantidad.cantxs == 0){ %>
                                <option disabled value="xs">Talle XS</option>
                            <% } else{%>
                            <option value="xs">Talle XS</option>
                            <% } %>
                            <% if(product.cantidad.cants == 0){ %>
                                <option disabled value="s">Talle S</option>
                            <% } else{%>
                            <option value="s">Talle S</option>
                            <% } %>
                            <% if(product.cantidad.cantm == 0){ %>
                                <option disabled value="m">Talle M</option>
                            <% } else{%>
                            <option value="m">Talle M</option>
                            <% } %>
                            <% if(product.cantidad.cantl == 0){ %>
                                <option disabled value="l">Talle L</option>
                            <% } else{%>
                            <option value="l">Talle L</option>
                            <% } %>
                            <% if(product.cantidad.cantxl == 0){ %>
                                <option disabled value="xl">Talle XL</option>
                            <% } else{%>
                            <option value="xl">Talle XL</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-sm-8">
                        <label for="cantidad"><small>Cantidad</small></label>
                        <input type="number" min="1" max="99" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-info form-control">Agregar al carrito</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-info form-control">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row details-content">
    <div class="details">
        
        <table class="table">
        <thead>
            <tr>
                <th><h5>Detalles del producto</h5></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tela</td>
                <td><%= product.tela %></td>
            </tr>
            <tr>
                <td>Bolsillos</td>
                <td><%= product.bolsillos %></td>
            </tr>
            <tr>
                <td>Sexo</td>
                <td><%= product.sexo %></td>
            </tr>
            <tr>
                <td>Fit</td>
                <td><%= product.fit %></td>
            </tr>
            <tr>
                <td>Tipo de Prenda</td>
                <td><%= product.tipoPrenda %></td>
            </tr>
            <tr>
                <td>Color</td>
                <td><%= product.color %></td>
            </tr>
        </tbody>    
    </table>
    </div>

    <div class="relacionados">
        
    </div>
</div>
<%} else { %>

    <h3>Producto no encontrado</h3>
<%} %>
</div>




<%- include('../partials/footer') %>


<script>
    
    function showFilter()
    {
        var menu = document.querySelector(".filtro");
        if(menu.style.display === "none"){
            menu.style.display = "inherit";
        }
        else
        {
            menu.style.display ="none";
        }
    }
</script>
</body>
</html>